@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;900&display=swap");
@import url(reset.css);

*{
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

.containerOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.textOne{
    text-align: center;
}
